[Unit]
Description=Run node.js package as systemd service
After=nginx.service
[Service]
Restart=always
RestartSec=5
StandardOutput=syslog
TimeoutSec=90
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin:/home/kol/.nvm/versions/node/v16.10.0/bin
Environment=NODE_ENV=production
Environment=PORT=3000
WorkingDirectory=/home/kol/Projects/crpack
ExecStart=/home/kol/.nvm/versions/node/v16.10.0/bin/npm run start
SyslogIdentifier=crpack
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
[Install]
WantedBy=multi-user.target
