[Unit]
Description="CrPack application"
After=nginx.service

[Service]
Restart=always
RestartSec=5
StandardOutput=syslog
TimeoutSec=90
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=PORT=3000
WorkingDirectory=/usr/local/share/applications/crpack
ExecStart=/home/root/.nvm/versions/node/v16.10.0/bin/npm run test
SyslogIdentifier=crpack
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process
[Install]
WantedBy=multi-user.target